html {
  -webkit-text-size-adjust: 100%;
  font-family: monospace;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

body {
  padding: 16px;
}
table, td, th {
  border: 1px solid currentColor;
  border-collapse: collapse;
}
td {
  padding: 8px;
}
angular-element,
lit-element,
element-details {
  display: block;
  margin-bottom: 4px;
}
