/* You can add global styles to this file, and also import other style files */

body {
  padding: 16px;
}
table, td, th {
  border: 1px solid currentColor;
  border-collapse: collapse;
}
td {
  padding: 8px;
}
angular-element,
lit-element,
element-details {
  display: block;
  margin-bottom: 4px;
}
p {
  margin: 0;
}
html {
  font-family: monospace;
}
