<script setup lang="ts">
defineProps<{
  title: string;
}>();

setTimeout(() => {
  const itemsToUpdate = document.querySelectorAll('._data');
  itemsToUpdate.forEach((item, idx) => {
    (item as any).data = {
      random: Math.random() > .5 ? 'DATA+++++' : 'DATA-----',
    };
  });
}, 1000);
</script>

<template>
  <div class="wrapper">

    <h4>WE ARE INSIDE VUE</h4>
    <br>
    <table>
      <tr>
        <th>Angular Element</th>
        <th>Lit</th>
        <th>JS</th>
      </tr>
      <tr>
        <td>
          <angular-element type="angular-element_inside-vue" :data="title"></angular-element>
          <angular-element type="angular-element_inside-vue" class="_data"></angular-element>
          <angular-element type="angular-element_inside-vue" class="_data"></angular-element>
          <angular-element type="angular-element_inside-vue" class="_data"></angular-element>
        </td>
        <td>
          <lit-element type="lit-component_inside-vue" :data="title"></lit-element>
          <lit-element type="lit-component_inside-vue" class="_data"></lit-element>
          <lit-element type="lit-component_inside-vue" class="_data"></lit-element>
          <lit-element type="lit-component_inside-vue" class="_data"></lit-element>
        </td>
        <td>
          <element-details type="vanilla-component_inside-vue" :data="title"></element-details>
          <element-details type="vanilla-component_inside-vue" class="_data"></element-details>
          <element-details type="vanilla-component_inside-vue" class="_data"></element-details>
          <element-details type="vanilla-component_inside-vue" class="_data"></element-details>
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>

</style>
